.ms_search_section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 50px;
    .ms_text_area{
        width: 300px;
        border-radius: 20px;
        outline: none;
        height: 30px;
        border: 1px solid black;
        padding: 5px;
     }
     .ms_search_button{
        height: 30px;
        width: 50px;
        margin-left: 5px;
        border-radius: 20px;
        border: 1px solid black;
    }
}



